#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table,
    th,
    td {
      border: 1px solid #130e03d0;
      border-collapse: collapse;
      text-align: center;
      padding: 15px;
    }

    .th {
      background-color: #130e03d0;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
